<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Lista de filme</title>
</head>
<body>

<div layout:fragment="conteudo">
    <h1>Lista de filme</h1>
    <a href="filmes/formulario">Novo</a>
    <table>
        <thead>
        <tr>
            <th>NOME</th>
            <th>DURACAO</th>
            <th>ANO DE LANCAMENTO</th>
            <th>GENERO</th>
            <th>ACOES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="filme : ${lista}">
            <td th:text="${filme.nome}"></td>
            <td th:text="${filme.duracaoEmMinutos}"></td>
            <td th:text="${filme.anoLancamento}"></td>
            <td th:text="${filme.genero}"></td>
            <td>
                <a th:href="@{filmes/formulario?id={id}(id=${filme.id})}">Editar</a>

                <form action="/filmes" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" th:value="${filme.id}">
                    <input type="submit" value="excluir">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
<!--each, para cada item, vai atualizar  ${aqui vai a variavel -->
<!-- <input type="hidden" name="_method" value="delete">, envia o DELETE -->